<nav class="nav container p-3">
  <h1><a routerLink="/" class="text-black">Diêm Shop</a> </h1>
  <div *ngIf="menuType!=='seller'" class="nav-search">
    <input type="text"
    #searchInput
    (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Tìm kiếm sản phẩm" />
    <button (click)="submitSearch(searchInput.value)" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)" >{{item.name}}</a>
      </li>
    </ul>
  </div>
 <div [ngSwitch]="menuType">
  <ul *ngSwitchCase="'default'">
    <li><a routerLink="">Trang chủ</a></li>
    <li><a routerLink="seller-auth">Quản lý</a></li>

    <li><a href="#">Giỏ hàng({{cartItems}})</a></li>
    <li><a routerLink="user-auth">Đăng nhập</a></li>

  </ul>
  <ul *ngSwitchCase="'user'" >
    <li><a routerLink="">Trang chủ</a></li>
    <li><a>{{userName | titlecase}}</a></li>
    <li><a routerLink="my-orders" >Đơn hàng của tôi</a></li>
    <li><a routerLink="seller-auth">Quản lý</a></li>
    <li><a [routerLink]="cartItems>0?'cart-page':null">Giỏ hàng({{cartItems}})</a></li>

    <li><a (click)="userLogout()" >Đăng xuất</a></li>


  </ul>
  <ul *ngSwitchCase="'seller'" >
    <li><a routerLink="seller-add-product">Thêm sản phẩm</a></li>
    <li><a routerLink="seller-home">Danh sách sản phẩm</a></li>
    <li><a (click)="logout()">Đăng xuất</a></li>
    <li><a >{{sellerName | titlecase}}</a></li>
  </ul>
 </div>
</nav>
