.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 166, 0);
}
.nav a {
  text-decoration: none;
  color: black;

}
.nav span{
  font-size: 14px;
  margin-left: 10%;
}
.nav span svg{
  margin-top: -3%;
}
.seller{
  margin-left: 62%;
  font-size: 14px;
}
.login{
  margin-right: 5%;
  font-size: 14px;
}

.nav h1 {
  color: blueviolet;
  margin: 0;
  font-size: 40px;
}
.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid rgb(0, 0, 0);

    height: 39px;
    border-right: none;
}

.nav .nav-search button{
    color: blueviolet;
    border: 1px solid rgb(0, 0, 0);
    height: 39px;
}

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

h1 a{
  color: blueviolet;
  text-decoration: none;
}

.suggested-search{
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-search li {
  padding:5px;
  border: 1px solid #ddd;
}
.suggested-search li a{
  cursor: pointer;
  color: blueviolet;
}
div ul li a{
 color: black;
}
.bi-search{
  color: black;
}
.wrapper{
  position: relative;
  margin-top: 10px;
  margin-right: 50px;
}

  .wrapper span{
  position: absolute;
  top: -4px;
  right: -7px;
  font-size: 13px;
  }
