
<div class="cart-page">
<h1 class="mb-4" style="color: #Ff4b2b;">
    GIỎ HÀNG CỦA BẠN
</h1>
<div class="container">
  <div class="row">
  <div class="col-sm-8 details">
      <ul *ngFor="let cart of cartData">
          <li>
              <img src="{{cart.image}}" alt="">
          </li>
          <li>
              <span> {{cart.name}}</span>
          </li>
          <li>
              <span> Giá sản phẩm : {{cart.price | currency:currencyCode:currencyFormat}}</span>
          </li>
          <li>
              <span> Số lượng : {{cart.quantity}}</span>
          </li>
          <li >
            <button class="form-button btn-secondary"(click)="removeToCart(cart.id)" >Xoá</button>
          </li>
      </ul>

  </div>
  <div class="col-sm-4 summary">
  <h3  style="color: #Ff4b2b;">Chi tiết thanh toán</h3>
  <ul>
      <li> <span>Giá sản phẩm:</span><span>{{priceSummary.price| currency:currencyCode:currencyFormat}} </span></li>
      <li> <span>Thuế:</span><span>{{priceSummary.tax| currency:currencyCode:currencyFormat}} </span></li>
      <li> <span>Phí vận chuyển:</span><span>{{priceSummary.delivery| currency:currencyCode:currencyFormat}} </span></li>
      <li> <span>Mã giảm giá:</span><span>{{priceSummary.discount| currency:currencyCode:currencyFormat}} </span></li>
      <li> <span><h4>Tổng tiền</h4></span> <span><h4>{{priceSummary.total| currency:currencyCode:currencyFormat}} </h4></span></li>
      <button (click)="checkout()" class="form-button max-width btn-secondary" >Thanh toán</button>
  </ul>
  </div>
  </div>
</div>
</div>
