@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap');
.product-header-image{
  object-fit: contain;
  width: 100%;
  height: 600px;
}
.product-item{
  margin-bottom: 40px;
  border: 1px solid #ccc;

}

.product-item img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.product-item .product-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
.product-item img:hover{

  transform: translateY(-20px);
  transition: 0.7s;
}
.product-item .name-head{
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

}
.product-item a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

}
.product-item h6{
  text-align: center;
}
.product-item .product-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.product-item .product-footer a{
text-decoration: none;
}


ul {
  list-style-type: none;
}
ul li a{
  text-decoration: none;

}
.btn1{
  background-color: rgb(0, 222, 0);
  color: #ffffff;
}
.btn2{
  background-color: #Ff4b2b;
  color: #ffffff;
}
.btn {

  border: 2px solid #fff;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }

 .btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }

 .btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }

 .btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }


 .btn:active {
  transform: scale(0.9);
 }
 .btn2:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }

 .btn2:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }

 .btn2:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }

 .btn2:active {
  transform: scale(0.9);
 }
 .card {
  position: relative;

  z-index: 1111;
  overflow: hidden;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:0px 1px 5px 5px #ececec;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 650px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
