<div class="container-fluid" style="background-color: #ececec">
<div class="container p-3">
  <div class="row  p-3" style="background-color: #ffffff; border-radius: 3px">
    <div class="col-lg-3">
      <ul>
        <li class="border p-2">
          <h4>Danh mục sản phẩm</h4>
          <hr />
          <a
            href=""
            style="margin-left: 5%"
            href="category/{{ item.id }}"
            *ngFor="let item of listCategory"
          >
            {{ item.name }} <br />
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-9">
      <h3 class="mb-4" style="text-align: center">Danh sách sản phẩm</h3>
      <!-- <div class="sort">
        <button (click)="sortByName1()">Theo tên</button>
        <button (click)="sortByPrice()">Theo giá</button>
        <button (click)="sortByRating()">Thịnh hành</button>
      </div> -->
      <section class="row">
        <div
          class="col-sm-4"
          *ngFor="
            let item of productList
              | paginate : { itemsPerPage: 6, currentPage: p }
          "
        >
          <div class="product-item card">

            <a href="" routerLink="/details/{{ item.id }}"
              ><img src="{{ item.image }}" alt=""
            /></a>
            <div class="product-details" style="text-align: center;">
              <a href="" style="color: red;"  routerLink="/details/{{ item.id }}"
                ><h6 class="name-head">{{ item.name }}</h6></a
              >
              <a routerLink="/details/{{ item.id }}" style="color: black; font-size:13px;" [innerHTML]="convertToStars(item.rating)"></a>
              <div class="product-price">
                <h6   style="color: red;font-size: 23px;font-family: 'REM', sans-serif;">

                  {{ item.priceDiscount | currency : currencyCode : currencyFormat }}
                </h6>
              </div>
              <div class="product-color"></div>
            </div>
            <!-- <div class="product-footer">
              <a routerLink="/details/{{ item.id }}" class="btn btn1"
                >Xem Chi tiết</a
              >
              <a href="" routerLink="/details/{{ item.id }}" class="btn btn2"
                >Mua ngay</a
              >
            </div> -->
          </div>
        </div>
      </section>
      <pagination-controls
        previousLabel="Trước"
        nextLabel="Tiếp"
        style="text-align: center"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
</div>
