h1{
    color: blueviolet;
    text-align: center;
}
.add-product{
    text-align: center;
}
  /* Style cho input fields và buttons */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type=submit]:hover {
    background-color: #45a049;
  }
  .admin-page {
    display: grid;
    grid-template-columns: 200px 1fr;

  }
  .all-product{
    color: white;
  }
  .add-product{
    color: white;
    font-size: 15px;
  }
  .admin-nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  .admin-nav a{
    text-decoration: none;
    margin: 0 0 20px 0;
  }

  .admin-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .admin-nav ul li {
    margin-bottom: 10px;
  }

  .admin-nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  .admin-nav ul li a:hover {
    text-decoration: underline;
  }

  .admin-content {
    padding: 20px;
  }
  table{
    text-align: left;
    color: #000000;
    border-collapse: collapse;
  }
  img{
    height: 100px;
    width: 100px;
  }
  table td , table th{
    border: 1px solid #Ff4b2b;
    padding: 10px;
    min-width: 160pxs;
  }
  .adjust-update-link{
    margin-left: 10px;
  }

