<!-- <div class="add-product">
  <h1>Add New Product</h1>
  <p class="message-p">{{addProductMessage}}</p>
  <form #addProduct="ngForm"
  (ngSubmit)="submit(addProduct.value)"
   class="common-form">
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Name"
      name="name"
      ngModel
    />
    <input
    type="text"
    class="form-input"
    placeholder="Enter Product Price"
    name="price"
    ngModel
  />
  <input
  type="text"
  class="form-input"
  placeholder="Enter Product Category"
  name="category"
  ngModel
/>
<input
type="text"
class="form-input"
placeholder="Enter Product Color"
name="color"
ngModel
/>
<textarea
type="text"
class="form-input"
placeholder="Enter Product Description"
name="description"
ngModel
></textarea>

<input
type="text"
class="form-input"
placeholder="Enter Product Image URL"
name="image"
ngModel
/>
<button class="form-button">Add Product</button>

  </form>
</div> -->
<div class="container">
  <h2 class="container mt-6 p-4" style="color: #Ff4b2b; text-align: center;">Thêm sản phẩm</h2>
  <form #addProduct="ngForm"
  (ngSubmit)="submit(addProduct.value)">
    <label for="fname" >Tên sản phẩm</label>
    <input type="text"  name="name"
    ngModel placeholder="Nhập tên sản phẩm">

    <label for="lname">Giá sản phẩm</label>
    <input type="text"name="price"
    ngModel placeholder="Nhập giá sản phẩm">

    <label for="email">Danh mục</label>
    <input type="text" name="category"
    ngModel placeholder="Nhập danh mục sản phẩm">

    <label for="color">Màu sản phẩm</label>
    <input type="text" name="color"
    ngModel placeholder="Nhập màu sản phẩm">

    <label for="description">Mô tả chi tiết</label>
    <textarea name="description"
    ngModel placeholder="Nhập mô tả sản phẩm" style="height:200px"></textarea>
    <label for="color">Ảnh sản phẩm</label>
    <input type="text" name="image"
    ngModel placeholder="Nhập ảnh sản phẩm">

    <button type="submit" class="mb-4">Thêm sản phẩm</button>
  </form>
</div>
