<!-- <div class="update-product">
  <h1>Update Product</h1>
  <form
    #addProduct="ngForm"
    (ngSubmit)="submit(addProduct.value)"
    class="common-form"
  >
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Name"
      name="name"
      ngModel="{{ productData?.name }}"
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Price"
      name="price"
      ngModel="{{ productData?.price }}"
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Category"
      name="category"
      ngModel="{{ productData?.category }}"
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Color"
      name="color"
      ngModel="{{ productData?.color }}"
    />
    <textarea
      type="text"
      class="form-input"
      placeholder="Enter Product Description"
      name="description"
      ngModel="{{ productData?.description }}"
    ></textarea>

    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Image URL"
      name="image"
      ngModel="{{ productData?.image }}"
    />
    <button class="form-button">Update Product</button>
  </form>
</div> -->
<!-- <div class="add-product">
  <h1>Add New Product</h1>
  <p class="message-p">{{addProductMessage}}</p>
  <form #addProduct="ngForm"
  (ngSubmit)="submit(addProduct.value)"
   class="common-form">
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Name"
      name="name"
      ngModel
    />
    <input
    type="text"
    class="form-input"
    placeholder="Enter Product Price"
    name="price"
    ngModel
  />
  <input
  type="text"
  class="form-input"
  placeholder="Enter Product Category"
  name="category"
  ngModel
/>
<input
type="text"
class="form-input"
placeholder="Enter Product Color"
name="color"
ngModel
/>
<textarea
type="text"
class="form-input"
placeholder="Enter Product Description"
name="description"
ngModel
></textarea>

<input
type="text"
class="form-input"
placeholder="Enter Product Image URL"
name="image"
ngModel
/>
<button class="form-button">Add Product</button>

  </form>
</div> -->
<div class="admin-page">
  <div class="admin-nav " style="  font-size: 20px;">
    <a href="seller" class="all-product">Sản phẩm</a><br>
    <a href="seller-add-product" class="add-product" style="margin-left: 15px;">Thêm sản phẩm</a><br>
    <a href="seller-category" class="all-product">Danh mục</a><br>
    <a href="seller-add-category" class="add-product" style="margin-left: 15px;">Thêm danh mục</a><br>
    <a href="seller-order" class="all-product">Đơn hàng</a><br>
    <a href="seller-contact" class="all-product">Phản hồi</a><br>
  </div>
  <div class="admin-content">
    <h2 class=" mt-6 p-4" style="color: #Ff4b2b; text-align: center;">Cập nhật sản phẩm</h2>
    <p class="message-p">{{ productMessage }}</p>

    <div class="">
      <form #updateForm="ngForm"
      (ngSubmit)="submit(updateForm.value)">
        <label for="fname" >Tên sản phẩm</label>
        <input type="text" id="fname" #name="ngModel" name="name"
        ngModel="{{ categoryData?.name }}"required placeholder="Nhập tên sản phẩm">
        <p class="invalid-input"> <br>
        <span class="invalid-input"*ngIf="name.invalid && (name.dirty || name.touched)">
          Tên sản phẩm không được để trống.
        </span>
        </p>

        <label for="color">Ảnh sản phẩm</label>
        <input type="text" name="image"#image="ngModel"
        ngModel="{{ categoryData?.image }}"required placeholder="Ảnh sản phẩm">
        <p class="invalid-input" > <br>
        <span *ngIf="image.invalid && (image.dirty || image.touched)">
          Tên sản phẩm không được để trống.
        </span>
        </p>
        <button type="submit"  [disabled]="updateForm.invalid">Cập nhật</button>
      </form>
    </div>
  </div>
</div>







