
<div class="container-fluid p-3" style="background-color: #ececec">
  <div class="container product-details p-3" *ngIf="productData">
    <div class="row p-3 " style="background-color: #ffffff; border-radius: 3px">
      <div class="col-sm-6 image-container" >
        <img class="product-img image" src="{{ productData.image }}" alt="" />

      </div>
      <div class="col-sm-6">
        <div class="details">
          <h1 style="color: red;">{{ productData.name }}</h1>

          <div class="row">
            <div class="col-lg-1">{{ productData.rating | number:'1.1-1' }}</div>
            <a
              [innerHTML]="convertToStars(productData.rating)"
              class="col-md-3"  (click)="scrollToElement()" scrollToDuration="500" scrollToOffset="100"
              style="margin-left: -15px; margin-top: -2px; color: black"
            ></a>
            <a class="col-md-2" style="text-decoration: none; color: black;" href="product-reviews/{{ productData.id }}"
              > <span style="border-bottom: 1px solid black;">{{ reviewCount }}</span> Đánh giá</a>
          </div>
          <h3
            class="mt-3"
            style="color: red; font-size: 23px; font-family: 'REM', sans-serif"
          >
            {{ productData.price | currency : currencyCode : currencyFormat }}
          </h3>
          <div>
            Màu sắc:
            <h3
              [style.backgroundColor]="productData.color"
              class="product-color"
            ></h3>
          </div>

          <h6 class="mt-4">Mô tả chi tiết : {{ productData.description }}</h6>
          <div class="quantity-group mb-4">
            <button
              (click)="handleQuantity('min')"
              style="border: none; height: 40px; width: 40px; font-size: 23px"
            >
              -
            </button>
            <input
              type="text"
              style="border: none"
              value="{{ productQuantity }}"
            />
            <button
              (click)="handleQuantity('plus')"
              style="border: none; height: 40px; width: 40px; font-size: 23px"
            >
              +
            </button>
            <button
            *ngIf="removeCart"
            class="form-button button btn btn-outline-success button"
            style="
              background-color: #474747;
              color: #ffffff;
              height: 50px;
              size: 22px;
              margin-left: 280px;
              margin-top: -7px;
            "
            (click)="removeToCart(productData.id)"
          >
            Xoá khỏi giỏ hàng
          </button>
          <button
            *ngIf="!removeCart"
            class="form-button btn btn-outline-success button p3"
            style="
              background-color: green;
              color: #ffffff;
              height: 50px;
              font-size: 16px;
              margin-left: 280px;
              margin-top: -7px;
            "
            (click)="addToCart()"
          >
            Thêm vào giỏ hàng
          </button>
          </div>

        </div>
      </div>
    </div>



    <div class="row p-3 mt-3" style="background-color: #ffffff; border-radius: 3px">
      <div class="col-md-7">
        <h3 class="mb-4">Mô tả sản phẩm</h3>

        <h5 style="padding: 5px; font-weight: bold; font-size: 20px">
          Thông số kỹ thuật
        </h5>
        <table class="table-bordered" style="width: 100%">
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">CPU</td>
            <td style="font-weight: bold">{{ productData.cpu }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">RAM</td>
            <td style="font-weight: bold">{{ productData.ram }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Ổ cứng</td>
            <td style="font-weight: bold">{{ productData.drive }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Card đồ họa
            </td>
            <td style="font-weight: bold">{{ productData.card }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Màn hình</td>
            <td style="font-weight: bold">{{ productData.monitor }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Cổng giao tiếp
            </td>
            <td style="font-weight: bold">{{ productData.conecttionport }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Bàn phím</td>
            <td style="font-weight: bold">{{ productData.keyboard }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Chuẩn LAN
            </td>
            <td style="font-weight: bold">{{ productData.lan }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Chuẩn WIFI
            </td>
            <td style="font-weight: bold">{{ productData.wifi }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Bluetooth
            </td>
            <td style="font-weight: bold">{{ productData.bluetooth }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Audio</td>
            <td style="font-weight: bold">{{ productData.audio }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Webcam</td>
            <td style="font-weight: bold">{{ productData.webcam }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Hệ điều hành
            </td>
            <td style="font-weight: bold">{{ productData.system }}</td>
          </tr>

          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Pin</td>
            <td style="font-weight: bold">{{ productData.battery }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Trọng lượng
            </td>
            <td style="font-weight: bold">{{ productData.weight }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Màu sắc</td>
            <td style="font-weight: bold">{{ productData.color }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Kích thước
            </td>
            <td style="font-weight: bold">{{ productData.size }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-5">
        <h5
          style="
            padding: 5px;
            font-weight: bold;
            font-size: 20px;
            margin-top: 58px;
          "
        >
          Thông số kỹ thuật
        </h5>
        <table class="table-bordered" style="width: 100%">
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Màn hình</td>
            <td style="font-weight: bold">{{ productData.monitor }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">RAM</td>
            <td style="font-weight: bold">{{ productData.ram }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">Ổ cứng</td>
            <td style="font-weight: bold">{{ productData.drive }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              Card đồ họa
            </td>
            <td style="font-weight: bold">{{ productData.card }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">CPU</td>
            <td style="font-weight: bold">{{ productData.cpu }}</td>
          </tr>
        </table>

        <h5
          style="
            padding: 5px;
            font-weight: bold;
            font-size: 20px;
            margin-top: 20px;
          "
        >
          Tin tức về sản phẩm
        </h5>
        <table class="table-bordered" style="width: 100%">
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              <img
                src="https://file.hstatic.net/200000722513/article/gearvn-tiktok-dang-post-van-ban-3_dec7c87c5d8a47c8b96b2d9cd49dcf32_grande.png"
                width="100px"
                alt=""
              />
            </td>
            <td>TikTok in your area: TikToker đã có thể đăng Text post</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              <img
                src="https://file.hstatic.net/200000722513/article/gearvn-r-place-tren-reddit_673f61b4424a446eb640c7118072d5ab_grande.png"
                width="100px"
                alt=""
              />
            </td>
            <td>
              R/PLACE là gì? Cách tham gia sự kiện vui nhộn R/PLACE trên Reddit
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              <img
                src="https://file.hstatic.net/200000722513/article/thumb_youtube_community_4d473164c65340958af754254fb8d691_grande.jpg"
                width="100px"
                alt=""
              />
            </td>
            <td>
              Giải mã trào lưu Flex là gì ? Sức hút và ảnh hưởng trong cộng đồng
              trẻ
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              <img
                src="https://file.hstatic.net/200000722513/article/gearvn-tiktok-music-2_0ea06b7a0d204c2f8738b9a4d76e2e05_grande.png"
                width="100px"
                alt=""
              />
            </td>
            <td>TikTok Music 10 điểm là 10 điểm, không có nhưng!</td>
          </tr>
          <tr>
            <td style="font-weight: bold; color: rgb(97, 97, 255)">
              <img
                src="https://file.hstatic.net/200000722513/article/gearvn-aov-day-2023_039e9ec7dadc443dbcfa5d0d9a47d1fc_grande.jpg"
                width="100px"
                alt=""
              />
            </td>
            <td>AOV Day 2023 - Ngày hội Liên Quân Free Skin Keera</td>
          </tr>
        </table>
      </div>


    </div>
    <div class="row p-3 mt-3" id="feedback" style="background-color: #ffffff; border-radius: 3px">
      <h2 class="mb-3">Đánh giá </h2>
      <div *ngIf="review">
        <ul
          *ngFor="
            let reviewe of review
              | paginate : { itemsPerPage: 4, currentPage: p }
          "
        >
          <li>
            <span>{{ reviewe.userId }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 20px; margin-top: 0px;" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <span
              style="margin-top: 50px"
              [innerHTML]="convertToStars(reviewe.rating)"
            ></span
            ><br />
            <span
              style="margin-top: 20px; font-size: 13px; font-style: italic;margin-left: 50px;"
              >{{ reviewe.date_create }}</span
            >
            <p style="margin-top: 10px;margin-left: 50px;">{{ reviewe.comment }}</p>
            <hr />
          </li>
        </ul>
        <pagination-controls
          style="text-align: center"
          previousLabel="Trước"
          nextLabel="Tiếp"
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </div>
    </div>
  </div>

