<div class="product-list container">
  <h1 style="color: #ff4b2b; text-align: center" class="p-4">
    Danh sách sản phẩm
  </h1>
  <p class="message-p">{{ productMessage }}</p>
  <table class="mb-3" style="width: 100%">
    <thead>
      <tr>
        <th>Ảnh sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Màu sản phẩm</th>
        <th>Danh mục</th>
        <th>Mô tả sản phẩm</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of productList
            | paginate : { itemsPerPage: 8, currentPage: p }
        "
      >
        <td><img src="{{ item.image }}" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>
          <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
          <a
            class="adjust-update-link"
            routerLink="/seller-update-product/{{ item.id }}"
          >
            <fa-icon [icon]="iconEdit"></fa-icon
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    previousLabel="Trước"
    nextLabel="Tiếp"
    style="text-align: center"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
