<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Quản lý đăng ký</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
      <input
        type="text"
        class="form-input"
        placeholder="Nhập tên"
        name="name"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Nhập mật khẩu"
        name="password"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        placeholder="Nhập email"
        name="email"
        ngModel
      />
      <button class="form-button mb-3">Đăng ký</button>

      <span class="mb-4">Bạn đã có tài khoản? <a class="auth-toggle-link" (click)="openLogin()">Nhấp vào đây</a></span>
    </form>
  </div>

  <div *ngIf="showLogin" class="login">
    <h1>Quản lý đăng nhập</h1>
    <p class="error-p">{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
      <input
      type="text"
      class="form-input"
      placeholder="Nhập email"
      name="email"
      ngModel
    />
      <input
        type="password"
        class="form-input"
        placeholder="Nhập mật khẩu"
        name="password"
        ngModel
      />
      <button class="form-button mb-3">Đăng nhập</button>
     <span class="mb-4">Bạn chưa có tài khoản? <a class="auth-toggle-link" (click)="openSignUp()">Nhấp vào đây</a></span>

    </form>
  </div>
</div>
