<div class="my-orders container">
    <h1 style="color:#Ff4b2b">Đơn hàng của tôi</h1>
    <div class="row">
        <div class="col-sm-2">
            <span>Đơn hàng</span>
        </div>
        <div class="col-sm-2">
            <span>Mã đơn hàng</span>
        </div>
        <div class="col-sm-3">
            <span>Giá</span>
        </div>
        <div class="col-sm-3">
            <span>Trạng thái đơn hàng</span>
        </div>
        <div class="col-sm-2">
           <span>Huỷ đơn hàng</span>
        </div>
    </div>
    <div class="row" *ngFor="let order of orderData">
        <div class="col-sm-2">
            <img class="order-img" src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png" alt="">
        </div>
        <div class="col-sm-2">
            <span>#{{order.id}}</span>
        </div>
        <div class="col-sm-3">
            <span>{{order.totalPrice | currency:currencyCode:currencyFormat}}</span>
        </div>
        <div class="col-sm-3">
            <span>{{order.status}}</span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-secondary cancel"  (click)="cancelOrder(order.id)">Huỷ đơn hàng</button>
        </div>
    </div>

</div>
