<div class="admin-page">
  <div class="admin-nav " style="  font-size: 20px;">
    <a href="seller" class="all-product">Sản phẩm</a><br>
    <a href="seller-add-product" class="add-product" style="margin-left: 15px;">Thêm sản phẩm</a><br>
    <a href="seller-category" class="all-product">Danh mục</a><br>
    <a href="seller-add-category" class="add-product" style="margin-left: 15px;">Thêm danh mục</a><br>
    <a href="seller-order" class="all-product">Đơn hàng</a><br>
    <a href="seller-contact" class="all-product">Phản hồi</a><br>
  </div>
  <div class="admin-content">
    <div class="product-list">
      <h1 style="color: #ff4b2b; text-align: center" class="">
        Phản hồi từ khách hàng
      </h1>

      <table class="mb-3" style="width: 100%; text-align: center;">
        <thead>
          <tr>
            <th>Id</th>
            <th>Tên khách hàng</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Phản hồi từ khách hàng</th>

            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of contactList
            "
          >
          <td>{{ item.id }}</td>
            <td>{{item.name }} </td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.comment }}</td>


            <td>
              <!-- <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon> -->
              <a
                class="adjust-update-link"
                routerLink="/seller-update-product/{{ item.id }}"
              >
                <fa-icon [icon]="iconEdit"></fa-icon
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <pagination-controls
        previousLabel="Trước"
        nextLabel="Tiếp"
        style="text-align: center;"
        (pageChange)="p = $event"
      ></pagination-controls> -->
    </div>
  </div>
</div>
