.admin-page {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.admin-nav {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.admin-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-nav ul li {
  margin-bottom: 10px;
}

.admin-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.admin-nav ul li a:hover {
  text-decoration: underline;
}

.admin-content {
  padding: 20px;
}
.dropdown {
  position: relative;
  min-height: 50px;
}

.dropdown-toggle {
  display: none;
}

.dropdown-label {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
  margin-top: 10px;
}

.dropdown-toggle:checked + .dropdown-label + .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
