
.user-auth h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color:#Ff4b2b;;
    text-align: center;
}

.user-auth {
    margin-bottom: 100px;
}
.user-auth a{
    color: rgb(60, 0, 255);
    cursor: pointer;
}

.form-button {
  border-radius: 10px;
  background: #Ff4b2b;
  color: white;
}
.social-container {
	margin: 20px 0;
  text-align: center;

}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
  text-decoration: none;
  color:#Ff4b2b ;
}
.another-login{
  font-size: 13px;
  text-align: center;
}
.clickhere{
  font-size: 13px;
  text-align: center;
}

.form-control {
  position: relative;
  margin: 0px 0 20px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  color: #000000;

}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 15px;
  min-width: 5px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: rgb(0, 0, 0);
  transform: translateY(-30px);
}
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 15px;
  color: #Ff4b2b;
  border: 2px solid #Ff4b2b;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  width: 150px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  left: 70px;
  margin:10px 0 10px 0px;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #Ff4b2b;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}


