<div class="container-fluid p-3" style="background-color: #ececec;">
  <div class="container product-details p-3" >
    <div class="row p-3" style="background-color: #ffffff; border-radius: 3px; width: 500px; margin-left: 390px;">
      <div class="user-auth">
        <div *ngIf="!showLogin" class="sign-up">
          <h1 class="h1">Đăng ký tài khoản</h1>
          <form
            [formGroup]="registrationForm"
            class="common-form"
            (ngSubmit)="signUp(registrationForm.value)"
          >
            <p class="error-p">{{ authError }}</p>

            <div class="form-control">
              <input
                type="value"
                name="name"
                ngModel
                required
                formControlName="name"
              />
              <label>
                <span style="transition-delay: 0ms">H</span
                ><span style="transition-delay: 50ms">ọ</span
                ><span style="transition-delay: 100ms"> </span
                ><span style="transition-delay: 100ms">T</span
                ><span style="transition-delay: 150ms">ê</span
                ><span style="transition-delay: 150ms">n</span>
              </label>
            </div>
            <div style="margin-top: -10px; margin-bottom: 10px; color: red;font-size: 13px;" *ngIf="registrationForm.get('name')?.hasError('required')">Tên không được để trống!</div>
            <div class="form-control">
              <input
                type="value"
                name="email"

                required
                email
                formControlName="email"
                [(ngModel)]="email" (blur)="checkEmail()"
              />
              <label>
                <span style="transition-delay: 0ms">E</span
                ><span style="transition-delay: 50ms">m</span
                ><span style="transition-delay: 100ms">a</span
                ><span style="transition-delay: 100ms">i</span
                ><span style="transition-delay: 150ms">l</span>
              </label>

            </div>
            <div style="margin-top: -10px; margin-bottom: 10px; color: red;font-size: 13px;">
              <div *ngIf="registrationForm.get('email')?.hasError('required')">Email không được để trống</div>
              <div *ngIf="registrationForm.get('email')?.hasError('email')">Email không đúng định dạng </div>
              <div  *ngIf="emailExists">Email đã tồn tại</div>
            </div>


            <div class="form-control">
              <input
                type="password"
                name="password"
                ngModel
                formControlName="password"
                required
              />
              <label>
                <span style="transition-delay: 0ms">M</span
                ><span style="transition-delay: 50ms">ậ</span
                ><span style="transition-delay: 100ms">t</span
                ><span style="transition-delay: 150ms"> </span
                ><span style="transition-delay: 200ms">K</span
                ><span style="transition-delay: 250ms">h</span
                ><span style="transition-delay: 300ms">ẩ</span
                ><span style="transition-delay: 350ms">u</span>
              </label>
            </div>
            <div style="margin-top: -10px; margin-bottom: 10px; color: red;font-size: 13px;">
              <div *ngIf="registrationForm.get('password')?.hasError('required')">Mật khẩu không được để trống!</div>


              <div *ngIf="registrationForm.get('password')?.hasError('minlength')">Mật khẩu phải trên 6 ký tự!</div>
            </div>

            <div class="form-control">
              <input
                type="password"
                formControlName="confirmPassword"
                required
              />

              <label>
                <span style="transition-delay: 0ms">X</span
                ><span style="transition-delay: 50ms">á</span
                ><span style="transition-delay: 100ms">c</span
                ><span style="transition-delay: 150ms"> </span
                ><span style="transition-delay: 200ms">N</span
                ><span style="transition-delay: 250ms">h</span
                ><span style="transition-delay: 300ms">ậ</span
                ><span style="transition-delay: 350ms">n</span>
                <span style="transition-delay: 400ms"> </span>
                <span style="transition-delay: 400ms">M</span
                ><span style="transition-delay: 450ms">ậ</span
                ><span style="transition-delay: 500ms">t</span
                ><span style="transition-delay: 550ms"> </span
                ><span style="transition-delay: 600ms">K</span
                ><span style="transition-delay: 650ms">h</span
                ><span style="transition-delay: 700ms">ẩ</span
                ><span style="transition-delay: 750ms">u</span>
              </label>
            </div>
            <div
              *ngIf="registrationForm.get('confirmPassword')?.errors?.['passwordMismatch']"
              style="margin-top: -10px; margin-bottom: 10px; color: red;font-size: 13px;"
            >
              Mật khẩu xác nhận không khớp.
            </div>
            <button class="button" type="submit" [disabled]="registrationForm.invalid">
              Đăng ký
            </button>
            <p class="clickhere">
              Bạn đã có tài khoản? <a (click)="openLogin()">Nhấp vào đây</a>
            </p>
          </form>
        </div>

        <div *ngIf="showLogin" class="login">
          <h1>Đăng nhập</h1>

          <form
            #userLogin="ngForm"
            class="common-form"
            (ngSubmit)="login(userLogin.value)"
          >
            <p class="error-p">{{ authError }}</p>

            <div class="form-control">
              <input
                type="value"
                required=""
                name="email"
                ngModel
                email
                #email="ngModel"
                required

              />
              <p *ngIf="emailExists">Email already exists.</p>
              <label>
                <span style="transition-delay: 0ms">E</span
                ><span style="transition-delay: 50ms">m</span
                ><span style="transition-delay: 100ms">a</span
                ><span style="transition-delay: 100ms">i</span
                ><span style="transition-delay: 150ms">l</span>
              </label>
            </div>
            <p class="invalid-input">
              <span *ngIf="email.invalid && email.touched"
                >Email không được để trống</span
              >
            </p>

            <div class="form-control">
              <input
                type="password"
                name="password"
                ngModel
                minlength="6"
                maxlength="20"
                #password="ngModel"
                required
              />
              <label>
                <span style="transition-delay: 0ms">M</span
                ><span style="transition-delay: 50ms">ậ</span
                ><span style="transition-delay: 100ms">t</span
                ><span style="transition-delay: 150ms"> </span
                ><span style="transition-delay: 200ms">K</span
                ><span style="transition-delay: 250ms">h</span
                ><span style="transition-delay: 300ms">ẩ</span
                ><span style="transition-delay: 350ms">u</span>
              </label>
            </div>
            <p class="invalid-input">
              <span *ngIf="password.invalid && password.touched"
                >Mật khẩu không được để trống</span
              >
            </p>

            <button class="button" [disabled]="userLogin.invalid">
              Đăng nhập
            </button>
            <p class="clickhere">
              Bạn chưa có tài khoản? <a (click)="openSignUp()">Nhấp vào đây</a>
            </p>
            <span class="another-login">hoặc đăng nhập bằng</span>
            <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"
                ><i class="fab fa-google-plus-g"></i
              ></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Email</label>
    <input type="email" formControlName="email" class="form-control">
    <div *ngIf="registrationForm.get('email')?.hasError('required')">Email is required.</div>
    <div *ngIf="registrationForm.get('email')?.hasError('email')">Invalid email format.</div>
    <div *ngIf="registrationForm.get('email')?.hasError('duplicateEmail')">Email already exists.</div>
  </div>

  <input type="text" formControlName="password" class="form-control">
  <button type="submit" [disabled]="registrationForm.invalid">Register</button>
</form> -->
