<div class="admin-page">
  <div class="admin-nav " style="  font-size: 20px;">
    <a href="seller" class="all-product">Sản phẩm</a><br>
    <a href="seller-add-product" class="add-product" style="margin-left: 15px;">Thêm sản phẩm</a><br>
    <a href="seller-category" class="all-product">Danh mục</a><br>
    <a href="seller-add-category" class="add-product" style="margin-left: 15px;">Thêm danh mục</a><br>
    <a href="seller-order" class="all-product">Đơn hàng</a><br>
    <a href="seller-contact" class="all-product">Phản hồi</a><br>
  </div>
  <div class="admin-content">
d

  </div>
</div>
