<div
  class="container-fluid p-3"
  style="background-color: #ececec"
  *ngIf="product"
>
  <div class="container product-details p-3" *ngIf="product">
    <div class="row p-3" style="background-color: #ffffff; border-radius: 3px">
      <div class="col-sm-6">
        <img class="product-img" width="400px" height="" src="{{ product.image }}" alt="" />
      </div>
      <div class="col-sm-6">
        <div class="details">
          <h1 style="color: red;">{{ product.name }}</h1>

          <div class="row">
            <div class="col-md-1">{{ product.rating | number:'1.1-1'}}</div>
            <a
              routerLink="#feedback"
              [innerHTML]="convertToStars(product.rating)"
              class="col-md-3"
              style="margin-left: -15px; margin-top: -1px; color: black"
            ></a>
            <a class="col-md-2" style="color: black; text-decoration: none;" href="product-reviews/{{ product.id }}"
              ><span style="border-bottom: 1px solid black;">{{ reviewCount }}</span> Đánh giá</a>
          </div>
          <h3
            class="mt-3"
            style="color: red; font-size: 23px; font-family: 'REM', sans-serif"
          >
            {{ product.price | currency : currencyCode : currencyFormat }}
          </h3>
          <div>
            Màu sắc:
            <h3
              [style.backgroundColor]="product.color"
              class="product-color"
            ></h3>
          </div>

          <h6 class="mt-4">Mô tả chi tiết : {{ product.description }}</h6>
        </div>
      </div>
    </div>
  </div>
    <div
      class="container p-3"
      style="background-color: #ffffff; border-radius: 3px"
    >
      <h2 class="mb-3 p-3">Đánh giá</h2>
      <form class="row mb-3 p-3">
        <div class="form-group">
          <label for="rating">Đánh giá:</label>
          <input
            name="rating"
            type="number"
            min="1"
            max="5"
            [(ngModel)]="rating"
          />
        </div>
        <div class="form-group">
          <label for="comment">Nhận xét:</label>
          <textarea
            id="comment"
            name="comment"
            [(ngModel)]="comment"
            required
            rows="4"
            cols="50"
          ></textarea>
        </div>
        <button class="" style="width: 500px; margin-left: 350px;" (click)="saveProductReview()">
          Gửi đánh giá
        </button>
      </form>
    </div>
  </div>

