.product-header-image{
    object-fit: contain;
    width: 100%;
    height: 260px;
}
.product-item{
    margin-bottom: 40px;
    border: 1px solid #ccc;

}
.card-container {
  display: flex;
  flex-wrap: nowrap;
}

.card2 {
  width: calc(100% / 6); /* Thiết lập chiều rộng của mỗi card là 1/6 phần của card-container */
}
.icon img{
  width: 50px;
  height: 50px;
}
.img1{
  margin-bottom: 10px;
}
.product-item img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.product-item img:hover{

  transform: translateY(-20px);
  transition: 0.5s;
}
.product-footer a{
  transition: 0.5s;
}
.product-item .product-details {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.product-item .name-head{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

  }
  .product-item a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

  }
.product-item h6{
    text-align: center;
}
.product-item .product-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.product-item .product-footer a{
  text-decoration: none;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cecece;
}
.product-item1 img{
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.product-item1 img:hover{

transform: translateY(-20px);
transition: 0.5s;
}
.product-footer a{
transition: 0.5s;
}
.product-item1 .product-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.product-item1 .name-head{
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

}
.product-item1 a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

}
.product-item1 h6{
  text-align: center;
}
.product-item1 .product-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.product-item1 .product-footer a{
text-decoration: none;
}

.sort{
  margin-left: 1040px;
}
.sort button{
  margin-left: 3px;
  justify-content: end;
  background-color: white;
  border: 1px solid #Ff4b2b;
  padding: 5px;
  border-radius:5px 0 0 ;
}
.sort button:hover{
  background-color: #Ff4b2b;
  color: white;
  transition: 0.5s;
}
.card {
  height: 350px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.card .inner_part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
  height: 350px;
  position: absolute;
}

#slideImg:checked ~ .inner_part {
  padding: 0;
  transition: 0.1s ease-in;
}

.inner_part .img {
  height: 260px;
  width: 260px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

#slideImg:checked ~ .inner_part .img {
  height: 350px;
  width: 850px;
  z-index: 99;
  transition: 0.3s 0.2s ease-in;
}

.img img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
}

#slide_1:checked ~ .inner_part .img_1,
#slide_2:checked ~ .inner_part .img_2,
#slide_3:checked ~ .inner_part .img_3 {
  opacity: 1;
  transition-delay: 0.2s;
}

.content {
  padding: 0 20px 0 35px;
  width: 100%;
  margin-left: 50px;
  opacity: 0;
  transition: 0.6s;
}

#slideImg:checked ~ .inner_part .content {
  display: none;
}

#slide_1:checked ~ .inner_part .content_1,
#slide_2:checked ~ .inner_part .content_2,
#slide_3:checked ~ .inner_part .content_3 {
  opacity: 1;
  margin-left: 0;
  z-index: 100;
  transition-delay: 0.3s;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin: 0 0 20px 0;
}

.content .text {
  font-size: 19px;
  color: #4e4a67;
  margin: 0 auto 30px auto;
  line-height: 1.5em;
  text-align: justify;
}

.content button {
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: #000000;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  float: right;
}

.content button:hover {
  background: #cecece;
  color: #000000;
}

.slider {
  position: absolute;
  bottom: 25px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
}

#slideImg:checked ~ .slider {
  display: none;
}

.slider .slide {
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}

.slider .slide:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: #000000;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}

#slide_1:checked ~ .slider .slide_1:before,
#slide_2:checked ~ .slider .slide_2:before,
#slide_3:checked ~ .slider .slide_3:before {
  transform: scaleX(1);
  width: 100%;
}

input {
  display: none;
}
.btn1{
  background-color: rgb(0, 222, 0);
  color: #ffffff;
}
.btn2{
  background-color: #Ff4b2b;
  color: #ffffff;
}
.btn {

  border: 2px solid #fff;
  font-size: 15px;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;


  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }

 .btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }

 .btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }

 .btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }


 .btn:active {
  transform: scale(0.9);
 }
 .btn2:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }

 .btn2:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }

 .btn2:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }

 .btn2:active {
  transform: scale(0.9);
 }
 .card1 {
  position: relative;

  z-index: 1111;
  overflow: hidden;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}
