<div class="container-fluid p-3" style="background-color: #ececec">
  <div class="container mb-3">
    <div class="row" style="background-color: #ffffff; border-radius: 3px">
      <div class="col-md-8" style="margin-top: 10px">
        <ngb-carousel class="mb-2" style="background: linear-gradient(to right, #000000, #7a7a7a, #ececec);" *ngIf="popularProducts">
          <ng-template *ngFor="let item of popularProducts" ngbSlide>
            <div class="picsum-img-wrapper">
              <a routerLink="/details/{{ item.id }}">
                <img
                  class="product-header-image"
                  src="{{ item.image }}"
                  alt="Random first slide"
                />
              </a>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div
        class="col-md-4"
        style="margin-left: -15px; width: 455px; margin-top: 10px"
      >
        <div class="row">
          <img src="../../assets/image/shopee1.jpg" class="img1" alt="" />
        </div>
        <div class="row">
          <img src="../../assets/image/shopee2.jpg" alt="" />
        </div>
      </div>
    </div>
    <div
      class="row mb-3 icon p-3 mt-3"
      style="
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        background-color: #ffffff;
        border-radius: 2px;
      "
    >
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/e4a404283b3824c211c1549aedd28d5f_xhdpi"
          alt=""
        /><br /><br />Khung giờ săn sale
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/vn-50009109-c7a2e1ae720f9704f92f72c9ef1a494a_xhdpi"
          alt=""
        /><br /><br />
        Miễn phí ship toàn quốc
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/vn-50009109-11d9732a464d895d3699ca40431d0bfd_xhdpi"
          alt=""
        /><br /><br />Voucher giảm giá
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/vn-50009109-852300c407c5e79bf5dc1854aa0cfeef_xhdpi"
          alt=""
        /><br /><br />Hàng hiệu giảm 50%
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/vn-50009109-8a387d78a7ad954ec489d3ef9abd60b4_xhdpi"
          alt=""
        /><br /><br />Mã giảm giá tới 70%
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/vn-50009109-1975fb1af4ae3c22878d04f6f440b6f9_xhdpi"
          alt=""
        /><br /><br />Bắt trend - Giá sốc
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/9df57ba80ca225e67c08a8a0d8cc7b85_xhdpi"
          alt=""
        /><br /><br />Nạp thẻ dịch vụ
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/vn-50009109-485641d1582cdd6181f1725fb5421fee_xhdpi"
          alt=""
        /><br /><br />Chọn số trúng thưởng
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/a08ab28962514a626195ef0415411585_xhdpi"
          alt=""
        /><br /><br />Hàng quốc tế giá rẻ
      </div>
      <div class="col-md-1">
        <img
          src="https://cf.shopee.vn/file/b3535d7e56c58c4ebe9a87672d38cc5e_xhdpi"
          alt=""
        /><br /><br />Hàng nào cũng rẻ
      </div>
    </div>
  </div>

  <section
    class="container row mb-3 p-3"
    style="background-color: #ffffff; border-radius: 3px"
  >
    <span class="mb-2" style="font-size: 25px; font-weight: bold"
      >Danh mục sản phẩm</span
    >
    <div class="col-sm-2" *ngFor="let item of categoryList">
      <div class="product-item1">
        <a href="category/{{ item.id }}"
          ><img src="{{ item.image }}" alt=""
        /></a>
        <div class="product-details1">
          <a href="category/{{ item.id }}"
            ><h6 class="name-head" style="color: #ff4b2b">
              {{ item.name }}
            </h6></a
          >
        </div>
      </div>
    </div>
  </section>

  <!-- <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
  <!-- <div class="container-fluid mb-3 bg-dark" >
  <img width="100%" height="500px" src="https://laptopbachkhoa.net/wp-content/uploads/2021/03/laptop2_800x450.jpg" alt="">
</div> -->
  <div class="product-list-wrapper">
    <div
      class="container p-3"
      style="background-color: #ffffff; border-radius: 3px"
    >
      <span class="mb-2 p-3" style="font-size: 25px; font-weight: bold"
        >Sản phẩm bán chạy |
        <svg
          viewBox="0 0 22 16"
          width="23"
          height="23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.5 4H16V2C16 0.9 15.1 0 14 0H2C0.9 0 0 0.9 0 2V11C0 12.1 0.9 13 2 13C2 14.66 3.34 16 5 16C6.66 16 8 14.66 8 13H14C14 14.66 15.34 16 17 16C18.66 16 20 14.66 20 13H21C21.55 13 22 12.55 22 12V8.67C22 8.24 21.86 7.82 21.6 7.47L19.3 4.4C19.11 4.15 18.81 4 18.5 4ZM5 14C4.45 14 4 13.55 4 13C4 12.45 4.45 12 5 12C5.55 12 6 12.45 6 13C6 13.55 5.55 14 5 14ZM18.5 5.5L20.46 8H16V5.5H18.5ZM17 14C16.45 14 16 13.55 16 13C16 12.45 16.45 12 17 12C17.55 12 18 12.45 18 13C18 13.55 17.55 14 17 14Z"
            fill="#FF3C53"
          ></path>
        </svg>
        Miễn phí giao hàng</span
      >
      <div class="sort mb-3">
        <button (click)="sortByName1()">Theo tên</button>
        <button (click)="sortByPrice()">Theo giá</button>
        <button (click)="sortByRating()">Thịnh hành</button>
      </div>
      <section class="row">
        <div
          class="col-sm-3"
          *ngFor="
            let item of trendyProducts
              | paginate : { itemsPerPage: 8, currentPage: p }
          "
        >
          <div class="product-item card1">
            <div class="discount">-10%</div>
            <a href="" routerLink="/details/{{ item.id }}"
              ><img src="{{ item.image }}" alt=""
            /></a>
            <div class="product-details">
              <a href="" routerLink="/details/{{ item.id }}"
                ><h6 class="name-head" style="color: #ff4b2b">
                  {{ item.name }}
                </h6></a
              >
              <div class="product-price">
                <h6>
                  <del>{{
                    item.price | currency : currencyCode : currencyFormat
                  }}</del>
                </h6>
                <h6
                  style="
                    color: red;
                    font-size: 23px;
                    font-family: 'REM', sans-serif;
                  "
                >
                  {{
                    item.priceDiscount
                      | currency : currencyCode : currencyFormat
                  }}
                </h6>
              </div>
              <div class="product-color"></div>
            </div>
            <!-- <div class="product-footer">
          <a routerLink="/details/{{ item.id }}" class="btn btn1"
            >Xem Chi tiết</a
          >
          <a href="" routerLink="/details/{{ item.id }}" class="btn btn2"
            >Mua ngay</a
          >
        </div> -->
          </div>
        </div>
      </section>

      <pagination-controls
        style="text-align: center"
        previousLabel="Trước"
        nextLabel="Tiếp"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
    <div
      class="container p-3 mt-3"
      style="background-color: #ffffff; border-radius: 3px"
    >
      <span class="mb-2 p-3" style="font-size: 25px; font-weight: bold"
        >Sản phẩm mới |
        <svg
          viewBox="0 0 22 16"
          width="23"
          height="23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.5 4H16V2C16 0.9 15.1 0 14 0H2C0.9 0 0 0.9 0 2V11C0 12.1 0.9 13 2 13C2 14.66 3.34 16 5 16C6.66 16 8 14.66 8 13H14C14 14.66 15.34 16 17 16C18.66 16 20 14.66 20 13H21C21.55 13 22 12.55 22 12V8.67C22 8.24 21.86 7.82 21.6 7.47L19.3 4.4C19.11 4.15 18.81 4 18.5 4ZM5 14C4.45 14 4 13.55 4 13C4 12.45 4.45 12 5 12C5.55 12 6 12.45 6 13C6 13.55 5.55 14 5 14ZM18.5 5.5L20.46 8H16V5.5H18.5ZM17 14C16.45 14 16 13.55 16 13C16 12.45 16.45 12 17 12C17.55 12 18 12.45 18 13C18 13.55 17.55 14 17 14Z"
            fill="#FF3C53"
          ></path>
        </svg>
        Miễn phí giao hàng</span
      >

      <section class="row mt-5">
        <div class="col-sm-3" *ngFor="let item of newProduct">
          <div class="product-item card1">
            <div class="discount">NEW</div>
            <a href="" routerLink="/details/{{ item.id }}"
              ><img src="{{ item.image }}" alt=""
            /></a>
            <div class="product-details">
              <a href="" routerLink="/details/{{ item.id }}"
                ><h6 class="name-head" style="color: #ff4b2b">
                  {{ item.name }}
                </h6></a
              >
              <div class="product-price">
                <h6
                  style="
                    color: red;
                    font-size: 23px;
                    font-family: 'REM', sans-serif;
                  "
                >
                  {{
                    item.priceDiscount
                      | currency : currencyCode : currencyFormat
                  }}
                </h6>
              </div>
              <div class="product-color"></div>
            </div>
            <!-- <div class="product-footer">
          <a routerLink="/details/{{ item.id }}" class="btn btn1"
            >Xem Chi tiết</a
          >
          <a href="" routerLink="/details/{{ item.id }}" class="btn btn2"
            >Mua ngay</a
          >
        </div> -->
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<section class="policy">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
          <h2>Miễn phí ship & Hoàn trả</h2>
          <p>Miễn phí vận chuyển toàn quốc</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-gift"></i>
            </div>
          </div>
          <h2>quà tặng & khuyến mãi</h2>
          <p>
            Nhiều phần quá hấp dẫn khi mua hàng và kèm theo đó là khuyến mãi
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-phone"></i>
            </div>
          </div>
          <h2>Hỗ trợ khách hàng 24/24</h2>
          <p>Chúng tôi luôn hỗ trợ quý khách hàng mọi lúc</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="policy-product">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>3</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img
              src="https://file.hstatic.net/200000722513/file/msi-week-slider_014de7f79e3a41bfa07d1a50bdc428e4.png"
              alt="P1"
            />
          </div>
          <h2>MSI - Quà mê say</h2>
          <p>
            Tuần lễ Laptop <strong>MSI</strong> giảm giá cực sốc với nhiều ưu đãi cực kì hấp dẫn cùng vô số sản phẩm chất lượng cao, deal ngon khó chối từ - Bảo hành 1 đổi 1 - Giao hàng&nbsp;...
          </p>
          <a href="" class="read-more"
            >Đọc thêm <i class="fa fa-caret-right"></i
          ></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img
              src="https://file.hstatic.net/200000722513/file/20230712-resize-800x400_5a82536163be47df8e57241198f47e3d.jpg"
              alt="P2"
            />
          </div>
          <h2>Laptop Gaming Gigabyte G5 </h2>
          <p>
            Gigabyte G5/ G7 không chỉ dành riêng cho những game thủ yêu cầu cấu hình cao để chinh phục những con game khó nhằn.
          </p>
          <a href="" class="read-more"
            >Đọc thêm <i class="fa fa-caret-right"></i
          ></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>15</h3>
            <h4>Jun</h4>
          </div>
          <div class="policy-img">
            <img
              src="https://file.hstatic.net/200000722513/file/banner_slider_11_1662ea6375f44f4a86cb731fef9902d4.png"
              alt="P3"
            />
          </div>
          <h2>Build GVN PC AMD</h2>
          <p>
            Build PC AMD cấu hình cao, giá rẻ chỉ từ 4.990.000 cùng ưu đãi lên đến 10.990.000. Máy tính chuyên gaming, đồ họa, thiết kế sử dụng CPU AMD tại GearVN.
          </p>
          <a href="" class="read-more"
            >Đọc thêm <i class="fa fa-caret-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
